# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
coveralls: true
os:
  - linux
julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false

script:
  - julia --color=yes -e 'using Pkg; Pkg.activate(); Pkg.instantiate(); Pkg.test()'


# after_success:
#   - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'

# jobs:
#   include:
#     - stage: "Documentation"
#       julia: 1.3
#       os: linux
#       script:
#         - docs/make.jl
#       after_success: skip

