name: Pre-Commit

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
      - uses: julia-actions/cache@v2
      - run: mkdir ${HOME}/.julia/environments
      - run: mkdir ${HOME}/.julia/environments/apps
      - run: ls ${HOME}/.julia/
      - run: ls .
      - run: julia -e 'println(pwd())'
      - run: julia -e 'println(readdir("."))'
      - name: Install local JuliaFormatter as Pkg app
        run: julia -e 'using Pkg; Pkg.Apps.develop(; path=".")'
      - uses: astral-sh/setup-uv@v7
      - run: uv tool install pre-commit
      - run: pre-commit install
      - run: pre-commit run --all-files --show-diff-on-failure --color always
